.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  font-weight: bold;
  border: 1px solid #ccc;
  background-color: rgb(255, 203, 33);
  margin: 0.5rem 0;
  padding: 0.5rem;
}
